#wrapper
  #line{ style: "width: 48px"}
    %h1= "KRISTINA BUTKUTE"
#boxes_wrap
  #boxes{ style: "display: none" }
    %div Me
    %div Master Project
    %div Competitions
    %div Renovation
    %div Urban
    %div Interior / Exterior
    