%html
  %head
    %title Kristina Canessa's website
    %link{ rel: "stylesheet", href: "/css/main.css" }
    %link{ rel: "stylesheet", href: "/jqzoom/jqzoom.css" }
    %script{ src: "/js/vendor/jquery.js" }
    %script{ src: "/jqzoom/jqzoom.js" }
    %script{ src: "/js/master.js" }
  - body_class = request.path.split("/")[1]
  %body{ class: body_class }
    #content
      - if body_class
        %a.right{ href: "/" } HOME
      = yield
