%h2= @page.capitalize.humanize

%a.back{ href: "/" } <

- for photo in photos(@page)
  %a{ href: "/zoom2#{photo}" }
    %img.large{ src: photo, class: "#{"double" if photo[-5] == "_"}" }

- if @page == "_me"
  %a.email{ href: "mailto:kristina.butkute@gmail.com" }
    kristina.butkute@gmail.com
  
  .icon
    open source
    %img{ src: "/icons/open_source.png" }
    
%a.scroll_top.right{ href: "#", onclick: "$('html,body').animate({ scrollTop: 0 })" } ^