%h2 Master project

%a.back{ href: "/#menu_open" } back

%img.large{ src: "/images/master_project/kurshland_ideascheme.jpg" }
%img.large{ src: "/images/master_project/kurshland_location.jpg" }
%img.large{ src: "/images/master_project/kurshland_urbnscheme_section_small.jpg" }
%img.large{ src: "/images/master_project/kurshland_facade_east_visualization.jpg" }
%img.large{ src: "/images/master_project/kurshland_planai_visualization_small.jpg" }
%img.large{ src: "/images/master_project/kurshland_planu_detalisation.jpg" }
%img.large{ src: "/images/master_project/kurshland_detalization_interier.jpg" }

/
  %p Antani